*~
*.swp
.config
.unpacked
autom4te.cache/
GPATH
GRTAGS
GSYMS
GTAGS
ID
Makefile
Makefile.in
aclocal.m4
ar-lib
compile
config.*
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
mdnsd.service
