.debhelper
autoreconf.after
autoreconf.before
debhelper-build-stamp
files
libmdnsd-dev/
libmdnsd-dev.*
libmdnsd/
libmdnsd1/
libmdnsd1.*
mdnsd.debhelper.log
mdnsd.substvars
mdnsd.postinst.debhelper
mdnsd.postrm.debhelper
mdnsd.prerm.debhelper
mdnsd/*
mquery.*
mquery/
tmp/
